# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Ambiente virtual
.venv/
venv/
env/
*.venv

# PyCharm / IDEs
.idea/
*.iml

# Arquivos de configuração sensíveis
.env
*.secret

# Arquivos temporários do sistema
*.tmp
*.swp
*.DS_Store
Thumbs.db

# Pasta de imagens (opcional, se forem grandes e já enviadas separadamente)
# photo_cars/

# Arquivos de teste compilados ou caches de pacotes
*.egg
*.egg-info/
dist/
build/
